
<div class="container">
  <div class="row mt-5">

    @for(item of items; track item){

      <div class="col-12 col-md-4">
        {{item.title}}
        <div class="card" >
          <div class="card-body">


            <h2 class="card-text">{{item.amount}}</h2>

            <h6>{{item.detail}}</h6>
          </div>
        </div>
      </div>
    }
  </div>
</div>


<div class="container mt-5">
<table class="table caption-top">

  <thead>
  <tr>
    <th scope="col">SN</th>
    <th scope="col">Customer Name</th>
    <th scope="col">Invoice NO.</th>
    <th scope="col">Amount Paid</th>
    <th scope="col">Balance outstanding</th>
    <th scope="col">Edit</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let invoice of invoice">
    <th scope="row"></th>
    <td>{{invoice.customerName}}</td>
    <td>{{invoice.invoice}}</td>
    <td>{{invoice.amountPaid}}</td>
    <td>{{invoice.balanceOutstanding}}</td>
    <td><button type="button" class="btn btn-success" routerLink="/customers">Edit</button></td>
  </tr>

  </tbody>
</table>


  <nav class="mt-5" aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>

